/Win32/Debug/*.dcu
/__history
/EasyWeb.dproj.local
/EasyWebDsgn.dproj.local
/EasyWebDsgn.identcache
/EasyWebDsgn.stat
/EasyWeb.groupproj.local
/EasyWeb.identcache
/EasyWeb.stat
/Demos/Basic/Win32/Debug
/Demos/Basic/*.local
/Demos/Basic/*.identcache
/Demos/Basic/*.res
/Demos/Basic/*.stat
/Demos/Basic/__history/*.~1~
/Demos/Grid/Win32/Debug
/Demos/NavBar/Win32/Debug
/Demos/NavBar/__history
/Demos/Basic/__history
/Demos/Alerts/*.local
/Demos/Alerts/Win32/Debug/*.exe
/Demos/Alerts/Win32/Debug/*.dcu
/Demos/Alerts/__history
/Demos/Grid/*.local
/Demos/Grid/*.identcache
*.identcache
*.stat
/Demos/Alerts/*.res
/Demos/Grid/*.res
*.local
/Demos/NavBar/NavBar.res
*.dcu
*.exe
*.rc
/Finalbuilder/EasyWeb.fbl8
/Finalbuilder/EasyWeb.fbpInf
/Finalbuilder/EasyWeb.fbpbrk
/*.dcp
/*.bpl
/EasyWebXE8.res
/easyWeb.dpk.bak
/Demos/Grid/__history
